body{
    width: 1280px;
    margin: auto;
}
header{
    display: block;
    width: 1280px;
    position: absolute;
    height: 170px;
    background: #99D3D0;
    margin: auto
}
.LOGO{
    position: absolute;
    object-fit: contain;
    width: 80px;
    height: 80px;
    margin:16px 600px 74px 600px;
}
.header-icon{
    object-fit: contain;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
}
.ic_login{
    margin-top: 2px;
    margin-right: 110px;
    position: absolute;
    right: 0;
    top: 0;
}
.nav-list{
    list-style-type: none;
    text-align:center;
}
.nav-list-item{
    display: inline-block;
    width: calc((100%-30px)/6);
    margin-top: 100px;
}
.nav-list-item:hover{
    display: inline-block;
    width: calc((100%-30px)/6);
    margin-top: 100px;
}
.nav-list-item-btn{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 45px;
    font-size: 24px;
    line-height: 45px;
}
.nav-list-item-btn:hover{
    color: #000000;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 45px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 24px;
    line-height: 45px;
}
.nav-sublist{
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 0;
    position: absolute;
}
.nav-sublist-item{
    display: block;
    border: 1px solid  #99D3D0;
    display: none;
}
.nav-list-item-link{
    color:  #000000;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}
.camera{
    display: block;
    width: 1280px;
    height: 514px;
    position: absolute;
    margin-top: 170px;
    background: #E9E7E7;
    /* overflow: hidden; */
}
.camera_pic{
    position: absolute;
}
#banner_point{
    list-style-type: none;
    position: absolute;
    margin-top: 705px;
    margin-left: 568px;
}
.point{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 999em;
    background-color: #C4C4C4;
    cursor:pointer;
}
.active{
    background-color:#8B8989;
}
